bin/Debug/net8.0/SupportApp
bin/Debug/net8.0/SupportApp.dll
bin/Debug/net8.0/SupportApp.pdb
bin/Debug/net8.0/SupportApp.staticwebassets.runtime.json
obj/project.assets.json
obj/project.nuget.cache
obj/SupportApp.csproj.nuget.dgspec.json
obj/SupportApp.csproj.nuget.g.props
obj/Debug/net8.0/apphost
obj/Debug/net8.0/staticwebassets.build.json
obj/Debug/net8.0/staticwebassets.development.json
obj/Debug/net8.0/staticwebassets.pack.json
obj/Debug/net8.0/SupportApp.AssemblyInfo.cs
obj/Debug/net8.0/SupportApp.AssemblyInfoInputs.cache
obj/Debug/net8.0/SupportApp.assets.cache
obj/Debug/net8.0/SupportApp.csproj.AssemblyReference.cache
obj/Debug/net8.0/SupportApp.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/SupportApp.csproj.FileListAbsolute.txt
obj/Debug/net8.0/SupportApp.dll
obj/Debug/net8.0/SupportApp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/SupportApp.genruntimeconfig.cache
obj/Debug/net8.0/SupportApp.pdb
obj/Debug/net8.0/SupportApp.sourcelink.json
obj/Debug/net8.0/ref/SupportApp.dll
obj/*
bin/*
