<!DOCTYPE html>
<html>
<head>
    <title>Support Requests</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Support Requests</h1>
    <form id="addRequestForm">
        <input type="text" name="customerName" placeholder="Customer Name" required />
        <input type="text" name="description" placeholder="Description" required />
        <button type="submit">Add Request</button>
    </form>
    <ul id="requestList">
        @foreach (var request in Model)
        {
            <li class="request-item" data-id="@request.Id">
                <span>@request.CustomerName: @request.Description</span>
                @if (!request.IsResolved)
                {
                    <button class="resolve-button" data-id="@request.Id">Resolve</button>
                }
                else
                {
                    <span> (Resolved)</span>
                }
            </li>
        }
    </ul>

    <script>
    var soundObject = null;
        $(document).ready(function() {
            $('#addRequestForm').submit(function(e) {
                e.preventDefault();
                $.ajax({
                    url: '/SupportRequest/AddRequest',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        var newItem = '<li class="request-item" data-id="' + response.id + '">' +
                            '<span>' + response.customerName + ': ' + response.description + '</span>' +
                            '<button class="resolve-button" data-id="' + response.id + '">Resolve</button>' +
                            '</li>';
                        $('#requestList').prepend(newItem);
                        $('#addRequestForm')[0].reset();
                    }
                });
            });

            $(document).on('click', '.resolve-button', function() {
                var id = $(this).data('id');
                $.ajax({
                    url: '/SupportRequest/ResolveRequest',
                    type: 'POST',
                    data: { id: id },
                    success: function(response) {
                        if (response.success) {
                            var $item = $('.request-item[data-id="' + response.id + '"]');
                            PlaySound();
                            $item.find('.resolve-button').replaceWith('<span> (Resolved)</span>');
                        }
                    }
                });
            });
        });

        
        function PlaySound() {
            if (soundObject != null) {
                document.body.removeChild(soundObject);
                soundObject.removed = true;
                soundObject = null;
            }
            soundObject = document.createElement("embed");
            soundObject.setAttribute("src", "sounds/sample.wav");
            soundObject.setAttribute("hidden", true);
            soundObject.setAttribute("autostart", true);
            document.body.appendChild(soundObject);
        }
    </script>
</body>
</html>